﻿@page
@model BuyModel
@{
    ViewData["Title"] = "Buy";
}

<div class="text-center">
    <h1 class="display-4"> Оформление заказа 🛒</h1>
    <div class="container">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName">Имя</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="lastName">Адрес</label>
                    <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
                </div>
            </div>

            <hr class="mb-4">
            <a class="btn btn-primary btn-lg btn-block col-md-3" type="submit" href="/Success">Купить</a>
        </form>
        </div>
    </div>
  </div>
</div>
