﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">🍨 Распродажа мороженного 🍨</h1>
    <table class="table">
        <tr>
            <th>Название</th>
            <th>Вкус</th>
            <th>Цена</th>
            <th></th>
        </tr>
        <tr>
            <td>Пломбирный рай</td>
            <td>Ваниль</td>
            <td>1.5</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
        <tr>
            <td>Шоколадная смесь</td>
            <td>Шоколад</td>
            <td>2</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
        <tr>
            <td>Ореховый остров</td>
            <td>Шоколад</td>
            <td>1.6</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
        <tr>
            <td>Пина-колада</td>
            <td>Ананас</td>
            <td>1.7</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
        <tr>
            <td>Сендвич</td>
            <td>Киви</td>
            <td>3</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
        <tr>
            <td>Пломбир "28 копеек"</td>
            <td>Ваниль</td>
            <td>2.28</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
        <tr>
            <td>Пломбир "1-й класс"</td>
            <td>Ваниль</td>
            <td>2</td>
            <td><a id="buy" href="/Buy">Купить</a></td>
        </tr>
    </table>
</div>
